{% extends 'base.html.twig' %}

{% block title %}The Long Doge Challenge{% endblock %}



{% block body %}


<div class="doge-wrapper">

    <div class="doge-header">
        <h1>Long Doge Challenge</h1>
        <span>Your doge is <b>wow</b> long</span>
        <span>You have collected <span id="wows">2</span> wows</span>
    </div>

    <div id="largewowcontainer" class="hidden"></div>

    <pre class="head">        ▄               ▄    
        ▌▒█           ▄▀▒▌   
        ▌▒▒█        ▄▀▒▒▒▐   
       ▐▄█▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐   
     ▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐   
   ▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌   
  ▐▒▒▒▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▌  
  ▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐  
 ▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌ 
 ▌░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌ 
▌▒▒▒▄██▄▒▒▒▒▒▒▒▒░░░░░░░░▒▒▒▐ 
▐▒▒▐▄█▄█▌▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
▐▒▒▐▀▐▀▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▐ 
 ▌▒▒▀▄▄▄▄▄▄▀▒▒▒▒▒▒▒░▒░▒░▒▒▒▌ 
 ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐  
  ▀▄▒▒▒▒▒▒░▒▒▒▒▒▒▒▒░▒▄▒▒▒▒▌  
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▐  
  ▀▄▒▒▒▒▒▒▒▒░▒▒▒▒▒░▒▒▄▒▒▒▒▌  
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▐  
  ▀▄▒▒▒▒▒▒▒▒░▒▒▒▒▒░▒▒▄▒▒▒▒▌  
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▄▀▒▒▒▒░▒▒▒▒▒▒▒▒▒▒░▒▄▒▒▒▒▌  
  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▐  
  ▀▄▒▒▒▒▒▒▒▒░▒▒▒▒▒░▒▒▄▒▒▒▒▌  
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▐  
  ▀▄▒▒▒▒▒▒▒▒░▒▒▒▒▒░▒▒▄▒▒▒▒▌
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌  
  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▐  
  ▀▄▒▒▒▒▒▒▒▒░▒▒▒▒▒░▒▒▄▒▒▒▒▌
</pre>
<pre class="neck">   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
  ▀▄▒▒▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▀▄▒▒▒▒░▒▒▒▒▒▒▒▒▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
  ▀▄▒▒▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
   ▀▄▒▒▒▒░▒▒▒▒▒▒▒▒▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
  ▀▄▒▒▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
   ▀▄▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
   ▄▀▒▒▒░▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▒▌
  ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒▄▒▒▐
  ▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▄▒▒▒▒▌
</pre>

</div>
{% endblock %}
